* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, Arial, sans-serif;
}

body {
    height: 100vh;
}

/* MAIN CONTAINER */
.container {
    display: flex;
    height: 100vh;
}

/* LEFT SIDE */
.left {
    flex: 1;
    background: #0f0f0f;
    color: white;
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.logo {
    font-weight: bold;
    font-size: 20px;
}

.left h1 {
    font-size: 42px;
    line-height: 1.2;
}

.features {
    list-style: none;
}

.features li {
    margin-bottom: 15px;
    font-size: 15px;
    opacity: 0.9;
}

.trusted {
    opacity: 0.6;
    font-size: 14px;
}

.brands span {
    margin-right: 15px;
    font-size: 13px;
    opacity: 0.8;
}

.rating {
    margin-top: auto;
    font-size: 14px;
    opacity: 0.9;
}

/* RIGHT SIDE */
.right {
    flex: 1;
    background: white;
    padding: 80px;
}

.right h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.subtitle {
    color: #666;
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    margin-bottom: 6px;
}

input {
    padding: 14px;
    margin-bottom: 25px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
}

button {
    width: 100px;
    padding: 12px;
    border-radius: 20px;
    border: none;
    background: #6c6c6c;
    color: white;
    cursor: pointer;
}

/* PROGRESS DOTS */
.progress {
    display: flex;
    gap: 10px;
    margin-top: 40px;
}

.progress span {
    width: 40px;
    height: 4px;
    background: #ddd;
    border-radius: 10px;
}

.progress .active {
    background: black;
}
